
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFCFE8;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 12px;
  }

  .container {
    background-image: url("../assets/backgrounds/hearts.jpeg");
    width: 100%;
    height: 100%;
    background-size: auto;
}